# dependencies
/node_modules

# testing
/coverage

# framework
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# package managers
.pnpm-debug.log*
